@import 'tailwindcss';

.slideIn {
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  0% { transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
